<!-- https://github.com/JagtapKishor104/NGX_BOOTSTRAP.git -->

<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="myform" enctype="multipart/form-data" novalidate>
        <!-- <div class="mb-3 d-none">
            <label class="form-label">ID</label>
            <input type="text" class="form-control" formControlName="id">
        </div> -->
        <div class="mb-3">
            <label class="form-label">first Name</label><span>*</span>
            <input type="text" class="form-control" formControlName="fname">
            <div
                *ngIf="myform.controls['fname'].invalid && (myform.controls['fname'].dirty || myform.controls['fname'].touched)">
                <small>First Name Is required</small>
                
            </div>
           
           
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name</label><span>*</span>
            <input type="text" class="form-control" formControlName="lname">
            <div
                *ngIf="myform.controls['lname'].invalid && (myform.controls['lname'].dirty || myform.controls['lname'].touched)">
                <small>Last Name Is required</small>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label><span>*</span>
            <input type="email" class="form-control" formControlName="email">
            <div
                *ngIf="myform.controls['email'].invalid && (myform.controls['email'].dirty || myform.controls['email'].touched)">
                <small>Email Is required</small>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Mobile</label><span>*</span>
            <input type="number" class="form-control" formControlName="mobile">
            <div
                *ngIf="myform.controls['mobile'].invalid && (myform.controls['mobile'].dirty || myform.controls['mobile'].touched)">
                <small>Mobile Number Is required</small>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Salary</label><span>*</span>
            <input type="number" class="form-control" formControlName="salary" minlength="2" maxlength="6">
            <div
                *ngIf="myform.controls['salary'].invalid && (myform.controls['salary'].dirty || myform.controls['salary'].touched)">
                <small>Salary Is required</small>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Image</label><span>*</span>
            <input type="file" accept=".png, .jpg, .jpeg" class="form-control text-center"
                (change)="onFileChanged($event)">
            
            <div class="text-center">
                <img class="img-thumbnail mt-3 "
                    [src]="( imageSrc || logoimage || image ) || 'https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg' "
                    alt="your image" height="200" width="200" />
            </div>

        </div>
        <p class="text-danger">{{message}}</p>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="saveData()">{{btn}}</button>

    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>